<%= simple_form_for @confirmation do |f| %>
  <div class="form-group">
    <%= f.input :title, label: 'Title', collection: title, input_html: { class: 'selection form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :first_name, label: 'First Name', placeholder: 'First Name', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :last_name, label: 'Last Name', placeholder: 'Last Name', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :email, label: 'Email', placeholder: 'Email', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :phone_number, label: 'Phone Number', placeholder: 'Phone Number', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :amount, label: 'Payment Amount', placeholder: 'Include the unique code', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :bank_name, label: 'Bank Name', placeholder: 'Bank Name', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :account_number, label: 'Account Number', placeholder: 'Nomor Rekening', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.input :account_name, label: 'Account Name', placeholder: 'Nama Pemilik Rekening', input_html: { class: 'form-control' } %>
  </div>

  <div class="form-group">
    <%= f.button :submit, 'Confirm Payment', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>
